@import './colors.scss';

$defaultInputBorderColor: #eeeeee;
$InputborderHoverColor: $primaryColor;
$InputborderActiveColor: #eeeeee;
$InputborderFocusColor: #009688;
$defaultBorderRadius : 6px;
$secondBorderRadius: 2px;