$primaryColor : #009688;
$defaultBorderColor :#d9d9d9;
$placeholderColor: #999;
$inputDisabledText: #f5f5f5;
// background_color_variable
$defaultBackground : #fff;
$secondaryBackground: #0096881a;
$mainHoverBackground: #007268;
$commonText: #000014;